/* Basic form styling */
body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full height of the viewport */
    margin: 0;               /* Remove default margin */
    font-family: "Edu VIC WA NT Beginner", cursive;
    background-color: #EF5A6F; /* Optional: Set a background color */
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 5rem;
    background-color: #FFF1DB;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color:#536493;
    font-size: 30px;
}

/* Input field styling */



/* Input field focus state */
input[type="text"]{
    margin-top: 1rem;
    margin-bottom: 1rem; 
    padding: 10px 40px;
}

/* Submit button styling */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #180161;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

/* Submit button hover state */
input[type="submit"]:hover {
    background-color: #004494;
}

a{
    width: 100%;
    padding: 12px;
    background-color: #180161;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

div{
    max-width: 400px;
    margin: 50px auto;
    padding: 5rem;
    background-color: #FFF1DB;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color:#536493;
    font-size: 30px;
    text-align: center;
}

p{
    display: block;
    
    
    font-weight: bold;
    color:#536493;
    font-size: 30px;
}

/* Responsive design for mobile devices */
@media (max-width: 500px) {
    form {
        padding: 15px;
        margin: 20px auto;
    }

    input[type="submit"] {
        padding: 10px;
    }
    div{
        padding: 15px;
        margin: 20px auto;

    }
    a{
        padding: 10px;
    }
}
